@-webkit-keyframes showMenu {
  0% {
    height: 0px;
  }
  100% {
    height: auto;
  }
}
@keyframes showMenu {
  0% {
    height: 0px;
  }
  100% {
    height: auto;
  }
}
@keyframes h_s_toBottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes h_s_fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:not(i) {
  font-family: "Oswald", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.btn-circle {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 5rem;
  text-align: center;
  background-color: #f3f5fa;
  display: block;
  color: black;
  font-size: 1.6rem;
  -webkit-transition: color 0.2s ease-out, background-color 0.3s linear;
  transition: color 0.2s ease-out, background-color 0.3s linear;
}
.btn-circle--bg-black {
  background-color: #000 !important;
  color: #ffffff !important;
}

.btn-circle:hover {
  color: white;
  background-color: #e62b4a;
}

.mBtn {
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.mBtn--black {
  height: 70px;
  width: 185px;
  margin-top: 50px;
  background-color: #000;
  border-right: 4px solid #e62b4a;
  transition: all 0.3s linear;
}
.mBtn--black:hover {
  background-color: #e62b4a !important;
}

.mBtn:focus {
  outline: none;
}

.mBtn:hover {
  background-color: #af2239;
}

.mBtn--primary {
  background-color: #e62b4a;
}

/**************** Header *********************/
header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container {
  max-width: 1200px;
}

.header {
  height: 94px;
  background-color: transparent;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header--blur {
  filter: blur(5px);
}
.header__vertical {
  position: absolute;
  top: 94px;
  left: -300px;
  width: 200%;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 9;
}

.logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 10px;
}
.logo-box__logo {
  font-size: 3rem;
  color: #ffffff;
  margin-right: 2px;
}
.logo-box__text {
  font-size: 3.5rem;
  color: #ffffff;
  font-weight: 700;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav__list-item {
  position: relative;
  padding: 2.6rem;
  cursor: pointer;
}
.nav__list-item:hover .nav-v1__list > .nav-v1__item:nth-child(n+1) {
  transition-delay: 0.1s;
  opacity: 1;
}
.nav__list-item:hover .nav-v1__list > .nav-v1__item:nth-child(n+2) {
  transition-delay: 0.15s;
  opacity: 1;
}
.nav__list-item:hover .nav-v1__list > .nav-v1__item:nth-child(n+3) {
  transition-delay: 0.2s;
  opacity: 1;
}
.nav__list-item:hover .nav-v1__list > .nav-v1__item:nth-child(n+4) {
  transition-delay: 0.2 0.5s;
  opacity: 1;
}
.nav__list-item:hover .nav-v1__list > .nav-v1__item:nth-child(n+6) {
  transition-delay: 0.3s;
  opacity: 1;
}
.nav__list-item:hover .nav-v1__list > .nav-v1__item:nth-child(n+7) {
  transition-delay: 0.3 0.5s;
  opacity: 1;
}
.nav__list-item:hover .nav-v1__list > .nav-v1__item:nth-child(n+8) {
  transition-delay: 0.4s;
  opacity: 1;
}
.nav__list-item:hover .nav-v1__list > .nav-v1__item:nth-child(n+9) {
  transition-delay: 0.4 0.5;
  opacity: 1;
}
.nav__list-item:hover .nav-v1__list > .nav-v1__item:nth-child(n+10) {
  transition-delay: 0.5s;
  opacity: 1;
}
.nav__list-item:hover .nav-v1__list {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.nav__list-item::after {
  content: "";
  display: block;
  position: absolute;
  left: -8px;
  bottom: -15px;
  background-color: transparent;
  width: 135px;
  height: 20px;
}
.nav__list-link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 400;
  transition: all 0.2s ease-out;
  display: block;
}
.nav__list-link:hover {
  color: #e62b4a;
}
.nav__list-link--active {
  color: #e62b4a;
}
.nav__list-link i {
  position: absolute;
  bottom: 0;
  right: -16px;
  font-size: 1.6rem;
}

.menu {
  padding: 2.6rem 2.6rem 2.6rem 0px;
}
.menu i {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

.search {
  position: relative;
}
.search i {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.6rem;
  vertical-align: middle;
}
.search__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50px;
  left: 100%;
  width: 312px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 1px;
  height: 78px;
  transform: translateX(-100%);
  display: none;
}
.search__content input {
  width: 176px;
  height: 34px;
  border: 1px solid #d6d9dc;
  font-size: 1.7rem;
}
.search__content input:focus {
  outline: none;
}
.search__content--active {
  display: block;
}
.search__btn {
  padding: 12px 22px;
  color: white;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 2px;
  max-height: 34px;
  line-height: 12px;
  background-color: #e62b4a;
}
.search__btn:focus {
  outline: none;
}

.nav-v1__list {
  position: absolute;
  left: 0px;
  top: 90px;
  width: 280px;
  background-color: #000;
  border-radius: 2px;
  padding: 15px 20px 15px;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  visibility: hidden;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.nav-v1__list--expand {
  left: -880px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.nav-v1__item {
  padding: 16px 0;
  opacity: 0;
  transition: all 0.2s linear;
}
.nav-v1__item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-v1__item-heading {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
  transition: color 0.1s linear;
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-v1__item-heading:hover {
  color: #e62b4a;
}
.nav-v1__item-heading i {
  position: absolute;
  bottom: 0;
  left: 68px;
  bottom: 10px;
  font-size: 1.6rem;
}
.nav-v1__item--expand {
  width: calc(25% - 40px);
  border-bottom: none;
  height: auto;
}
.nav-v1__item--expand:not(:last-child) {
  border-bottom: none;
}
.nav-v1__item--expand ul li {
  padding: 10px 0;
  height: auto;
}
.nav-v1__item--expand ul li a {
  color: #ffffff;
  font-size: 1.4rem;
  transition: color 0.1s linear;
}
.nav-v1__item--expand ul li a:hover {
  color: #e62b4a;
}
.nav-v1__link {
  color: #ffffff;
  font-size: 1.4rem;
  transition: color 0.1s linear;
}
.nav-v1__link:hover {
  color: #e62b4a;
}

.modal-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100vw;
  max-height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-menu__blur {
  position: fixed;
  right: 0;
  height: 100%;
  width: 352px;
  padding: 50px 32px;
  background-color: #ffffff;
  z-index: 1001;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
}
.modal-menu__exit {
  margin-bottom: 35px;
}
.modal-menu__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 35px;
}
.modal-menu__details {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2.4rem;
  color: #909090;
  margin-bottom: 35px;
}
.modal-menu__list {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.modal-menu__list-item {
  margin-right: 15px;
}
.modal-menu__vertical {
  width: 100%;
  height: 1px;
  background-color: rgba(144, 144, 144, 0.2);
  margin-bottom: 35px;
}
.modal-menu__contact-item {
  margin-bottom: 20px;
}
.modal-menu__contact-item i {
  font-size: 1.6rem;
  margin-right: 10px;
}
.modal-menu__contact-item a {
  font-size: 1.6rem;
  color: #909090;
  transition: color 0.1s linear;
}
.modal-menu__contact-item a:hover {
  color: #e62b4a;
}
.modal-menu__contact-item span {
  font-size: 1.6rem;
  color: #909090;
}

/**************** Home *********************/
.slick-contain {
  position: relative;
  top: -94px;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
}

.slick {
  position: relative;
  width: 100%;
  height: 100%;
}
.slick:hover ~ .home-arrow-next, .slick:hover ~ .home-arrow-prev {
  opacity: 1 !important;
}
.slick-track {
  height: 100vh;
}
.slick-item {
  width: 100%;
  position: relative;
}
.slick-item img {
  width: 100%;
  height: 100%;
  filter: grayscale(200%) contrast(50%);
  background-attachment: fixed;
  object-fit: cover;
}
.slick-item__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
}
.slick-item__content h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  line-height: 3rem;
  opacity: 0;
  transform: translateY(-40px);
}
.slick-item__content h3::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 50%;
  margin: 0 auto;
  margin-top: 3px;
  background-color: #e62b4a;
}
.slick-item__content h1 {
  text-align: center;
  font-size: 10rem;
  opacity: 0;
  transform: translateY(-40px);
}
.slick-item__content button {
  opacity: 0;
  transform: translateY(40px);
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
}
.slick-item-3__content-3 {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-40%, -50%);
  max-width: 420px;
}
.slick-item-3__content-3 span {
  position: absolute;
  width: 4px;
  height: 0%;
  background-color: #e62b4a;
  right: -20px;
  top: 10px;
  border-radius: 2px;
}
.slick-item-3__content-3 h1 {
  text-align: right;
  font-size: 9rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  transform: translateX(200px);
  opacity: 0;
}
.slick-item-3__content-3 p {
  text-align: right;
  color: #ffffff;
  font-size: 1.8rem;
  letter-spacing: 1px;
  transform: translateX(-200px);
  opacity: 0;
}
.slick-item-3__content-3 button {
  width: 150px;
  height: 50px;
  float: right;
  margin-top: 20px;
  transform: translateY(60px);
  opacity: 0;
}
.slick-item-2__content-2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slick-item-2__content-2 div {
  width: 170px;
  height: 170px;
  color: #000;
  background-color: #e62b4a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 48%;
  margin: 0 auto;
  opacity: 1;
  transform: translateY(50px);
}
.slick-item-2__content-2 div span {
  display: block;
}
.slick-item-2__content-2 div i {
  font-size: 7rem;
}
.slick-item-2__content-2 div p {
  display: block;
  font-size: 2rem;
  color: #000;
  margin: 0;
  font-weight: 500;
}
.slick-item-2__content-2 h1 {
  font-size: 10rem;
  color: #ffffff;
  margin-top: 10px;
  transform: translateY(50px);
  opacity: 0;
}
.slick-item-2__content-2 > p {
  font-size: 1.8rem;
  color: #ffffff;
  margin-top: 10px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  transform: translateY(70px);
  opacity: 0;
}
.slick-item-2__content-2 button {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  transform: translateY(30px);
  opacity: 0;
}
.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.slick-dots li {
  margin: 0 5px;
}
.slick-dots li.slick-active button {
  background-color: #ffffff;
  opacity: 1;
}
.slick-dots li button {
  width: 20px;
  height: 5px;
  border-radius: 0;
  border: none;
  color: transparent;
  opacity: 0.5;
}
.slick-dots li button:focus {
  outline: none;
}

.home-arrow-prev {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 10px;
  opacity: 0 !important;
  transition: all 0.3s linear;
  transition-delay: 0.3s;
  border: none;
}
.home-arrow-prev:focus {
  outline: none;
}
.home-arrow-prev i {
  font-size: 1.8rem;
  color: #000;
}

.home-arrow-next {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0 !important;
  top: 50%;
  right: 10px;
  transition: all 0.3s linear;
  transition-delay: 0.3s;
  border: none;
}
.home-arrow-next:focus {
  outline: none;
}
.home-arrow-next i {
  font-size: 1.8rem;
  color: #000;
}

.h_s_toBottom {
  animation: h_s_toBottom 0.4s linear forwards;
  animation-delay: 0.4s;
}

.h_s_toBottom_h1 {
  animation: h_s_toBottom 0.4s linear forwards;
  animation-delay: 0.8s;
}

.h_s_toBottom_button {
  animation: h_s_fadeIn 0.4s linear forwards;
  animation-delay: 1.2s;
}

.services {
  height: 660px;
  background-color: #000;
  padding: 90px 0 0 0;
  text-align: center;
}
.services p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #e62b4a;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.services h2 {
  font-size: 5rem;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
}
.services p.services__details {
  margin-top: 20px;
  color: #888;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 3rem;
}
.services__slick-container {
  position: relative;
  height: 300px;
  overflow-y: hidden;
}
.services__slick-container:hover .services__slider-button {
  opacity: 1;
}
.services__slider {
  position: relative;
  margin-top: 20px;
}
.services__slider-item {
  position: relative;
  height: 230px;
  border: 2px solid #81807d;
  border-radius: 2px;
  margin: 0 10px;
  transform-style: preserve-3d;
  transition: all 0.4s linear;
  cursor: pointer;
  z-index: 5;
}
.services__slider-item:hover {
  transform: rotateY(180deg);
  background-color: #e62b4a;
  border: 2px solid #fff;
}
.services__slider-item-front {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  backface-visibility: hidden;
}
.services__slider-item-back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e62b4a;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.services__slider-item-back i {
  color: #fff !important;
}
.services__slider-item-back p {
  color: #fff !important;
}
.services__slider-item a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services__slider-item a i {
  font-size: 6rem;
  color: #b3b3b1;
  margin-bottom: 20px;
}
.services__slider-item a p {
  color: #b3b3b1;
  font-size: 1.4rem;
  font-weight: 400;
}
.services__slider-button {
  border: none;
  height: 40px;
  width: 40px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #848482;
  opacity: 0;
  transition: all 0.2s linear;
}
.services__slider-button:hover {
  background-color: #e62b4a;
  color: #ffffff;
}
.services__slider-button:focus {
  outline: none;
}
.services__slider-next {
  position: absolute;
  top: 51%;
  right: 0;
  transform: translate(0%, -100%);
}
.services__slider-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -100%);
}

.founded {
  max-height: 800px;
  padding-top: 100px;
  background-color: #fff;
}
.founded__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.founded__content {
  width: 45%;
}
.founded__content p {
  color: #8a8181;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.founded__content-heading {
  font-size: 6rem;
  font-weight: 400;
}
.founded__content-details {
  word-spacing: 2px;
  line-height: 3rem;
}
.founded__content button {
  height: 70px;
  width: 185px;
  margin-top: 50px;
  background-color: #000;
  border-right: 4px solid #e62b4a;
  transition: all 0.3s linear;
}
.founded__content button:hover {
  background-color: #e62b4a;
}
.founded__wrap {
  position: relative;
  width: 50%;
}
.founded__wrap-block {
  position: relative;
  z-index: 3;
  width: 170px;
  height: 170px;
  color: #ffffff;
  background-color: #e62b4a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  text-align: center;
}
.founded__wrap-block span {
  display: block;
}
.founded__wrap-block i {
  color: #bdbdbd;
  font-size: 7rem;
}
.founded__wrap-block p {
  display: block;
  font-size: 2rem;
  margin: 0;
  font-weight: 500;
}
.founded__wrap-img {
  filter: grayscale(200%) contrast(50%);
  border-radius: 1px;
  object-fit: cover;
}
.founded__wrap-img-1 {
  position: absolute;
  width: 470px;
  height: 500px;
  top: 0;
  right: 0;
}
.founded__wrap-img-2 {
  border: 15px solid #fff;
  position: absolute;
}
.founded__wrap-img-2 img {
  width: 490px;
  height: 404px;
}

.working {
  padding-top: 110px;
  margin-top: 250px;
  position: relative;
  margin-bottom: 122px;
}
.working__top {
  height: 550px;
  width: 120%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
}
.working__bottom {
  height: 550px;
  top: 50%;
  width: 120%;
  left: 0;
  position: absolute;
  background-color: #fff;
}
.working__wrapper {
  position: relative;
}
.working__content {
  text-align: center;
  color: #8a8181;
}
.working__content p {
  font-size: 1.6rem;
}
.working__content h2 {
  color: #000;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.working__content-details {
  margin-bottom: 40px;
  letter-spacing: 0.5px;
  line-height: 3rem;
}
.working__wrap {
  position: relative;
  text-align: center;
}
.working__wrap img {
  height: 550px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(200%) contrast(50%);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}
.working__wrap-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.working__wrap-box:hover button {
  background-color: #e62b4a;
}
.working__wrap-box:hover p {
  color: #e62b4a;
}
.working__wrap-box button {
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #e62b4a;
}
.working__wrap-box button i {
  font-size: 8rem;
  margin-left: 10px;
}
.working__wrap-box p {
  transition: all 0.2s linear;
  margin-top: 15px;
  color: #ffffff;
  font-size: 3.5rem;
}
.working__subsribes {
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.working__subsribes div p {
  font-size: 1.6rem;
  color: #8a8181;
}
.working__subsribes div h3 {
  font-size: 4.6rem;
  font-weight: 400;
}
.working__subsribes-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.working__subsribes-form input {
  width: 482px;
  height: 64px;
  border: none;
  border-radius: 4px;
  background-color: #e9e9e9;
  font-size: 1.6rem;
  padding-left: 10px;
}
.working__subsribes-form input:focus {
  outline: none;
}
.working__subsribes-form button {
  margin: 0;
  width: 192px;
  height: 64px;
}
.working__modal-content {
  margin-left: -200px;
  width: 902px;
  height: 508px;
  background-color: transparent !important;
  border: none;
}
.working__modal-content video {
  height: 100%;
  width: 100%;
  outline: none;
}
.working__modal-content img {
  height: 130%;
  width: 100%;
  outline: none;
}
.working__modal-content button {
  background: transparent;
  border: none;
  float: right;
  width: 10px;
  margin-left: auto;
  font-size: 2.5rem;
  color: white;
}
.working__modal-content button:focus {
  outline: none;
}

.showcase {
  margin-top: 100px;
  border-top: 1.5px solid #ebebeb;
  padding-top: 110px;
  padding-bottom: 100px;
}
.showcase-isotope {
  margin-top: 100px;
  text-align: center;
}
.showcase__isotope-behide {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 4;
  top: -100%;
  left: 0;
}
.showcase__isotope-behide-background {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 0.2s linear;
}
.showcase__isotope-items {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-wrap: wrap;
}
.showcase__isotope-item {
  position: relative;
  width: 360px;
  height: 408px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 1px;
  z-index: 1;
}
.showcase__isotope-item:hover .showcase__isotope-behide-background {
  background-color: #e62b4a;
  opacity: 0.6;
}
.showcase__isotope-item:hover .showcase__isotope-wrap-link, .showcase__isotope-item:hover .showcase__isotope-wrap-zoom {
  top: 0;
  opacity: 1;
}
.showcase__isotope-item:hover .showcase__isotope-content {
  bottom: 30px;
  opacity: 1;
}
.showcase__isotope-item img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(200%) contrast(50%);
}
.showcase__isotope-content {
  position: absolute;
  bottom: 0px;
  left: 30px;
  opacity: 0;
  transition: all 0.2s linear;
  z-index: 2;
}
.showcase__isotope-content p {
  font-size: 1.4rem;
  text-align: left;
  color: #d0cdcd;
  margin-bottom: 0;
}
.showcase__isotope-content a {
  font-size: 2.2rem;
  color: #ffffff;
  font-weight: 400;
}
.showcase__isotope-content a:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}
.showcase__isotope-wrap {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.showcase__isotope-wrap button {
  border: none;
  width: 35px;
  height: 35px;
  font-size: 1.4rem;
  transition: all 0.3s linear;
  opacity: 0;
}
.showcase__isotope-wrap button a {
  color: currentColor;
}
.showcase__isotope-wrap button:hover {
  background-color: #000;
  color: #ffffff;
}
.showcase__isotope-wrap-zoom {
  position: relative;
  top: 20px;
  margin-bottom: 10px;
}
.showcase__isotope-wrap-link {
  position: relative;
  top: 30px;
  margin-bottom: 10px;
}
.showcase__button-group {
  margin-bottom: 36px;
}
.showcase__button-group button {
  border: none;
  padding: 7px 17px;
  font-size: 1.6rem;
  color: #000;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  margin-right: 15px;
  transition: all 0.2s linear;
}
.showcase__button-group button:hover {
  border: 1px solid #e62b4a;
}
.showcase__filter-button--active {
  background-color: #e62b4a !important;
  color: #ffffff !important;
}

.counter {
  height: 530px;
  background-color: #000;
  padding: 100px 0;
}
.counter .container .row div {
  text-align: center;
  color: #ffffff;
}
.counter .container .row div:not(:last-child) {
  border-right: 2px solid #888888;
}
.counter .container .row div span {
  font-size: 6rem;
  font-weight: 300;
}
.counter .container .row div p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #888888;
}

.trusted {
  height: 480px;
}
.trusted__wrap {
  position: relative;
  height: 100%;
  padding: 0 174px;
}
.trusted__img {
  position: absolute;
  width: 752px;
  height: 672px;
  top: -190px;
  transform-style: preserve-3d;
}
.trusted__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(200%) contrast(50%);
}
.trusted__content {
  position: absolute;
  margin-left: 488px;
  height: 485px;
  padding: 95px 200px 0 100px;
  background-color: white;
}
.trusted__content h2 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 40px;
}
.trusted__content p {
  letter-spacing: 0.5px;
  color: #8a8181;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
}

.team {
  padding-top: 125px;
  height: 750px;
}
.team__content {
  text-align: center;
}
.team__content span {
  display: block;
  font-size: 1.8rem;
  color: #8a8181;
  margin-bottom: 16px;
}
.team__content h2 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.team__content p {
  font-size: 1.6rem;
  color: #8a8181;
  line-height: 3rem;
}
.team__sliders {
  position: relative;
}
.team__sliders:hover .team__slider-button {
  opacity: 1;
}
.team__slider {
  margin-top: 64px;
  width: 100%;
}
.team__slider-item {
  position: relative;
  height: 308px;
  width: 270px !important;
  outline: none !important;
}
.team__slider-item:hover .team__slider-behide ul {
  opacity: 1;
  bottom: 20px;
}
.team__slider-item:hover .team__slider-behide div {
  opacity: 0.6;
  width: 100%;
}
.team__slider-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(200%) contrast(50%);
}
.team__slider-item ul {
  position: absolute;
  bottom: 0;
}
.team__slider-item-info {
  text-align: center;
  margin-top: 20px;
}
.team__slider-item-info a {
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  transition: all 0.1s linear;
}
.team__slider-item-info a:hover {
  color: #e62b4a;
}
.team__slider-item-info p {
  font-size: 1.6rem;
  color: #8a8181;
}
.team__slider-button {
  border: none;
  height: 40px;
  width: 40px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #848482;
  opacity: 0;
  transition: all 0.2s linear;
}
.team__slider-button:hover {
  background-color: #e62b4a;
  color: #ffffff;
}
.team__slider-button:focus {
  outline: none;
}
.team__slider-next {
  position: absolute;
  top: 22%;
  right: 0;
  transform: translate(0%, -100%);
}
.team__slider-prev {
  position: absolute;
  top: 22%;
  left: 0;
  transform: translate(0%, -100%);
}
.team__slider-behide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
}
.team__slider-behide > div {
  position: relative;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: #e62b4a;
  transition: all 0.2s linear;
}
.team__slider-behide ul {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%);
  transition: all 0.2s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}
.team__slider-behide ul li {
  margin-right: 10px;
}
.team__slider-behide ul li:hover a {
  background-color: #e62b4a !important;
}
.team__slider-behide ul li a {
  width: 35px;
  height: 35px;
  font-size: 1.4rem;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.slick-track {
  display: flex;
  justify-content: space-between;
}

.our-clients {
  background-color: #f3f3f3;
  padding-top: 100px;
  margin-top: 100px;
  height: 680px;
}
.our-clients__content {
  text-align: center;
}
.our-clients__content span {
  display: block;
  font-size: 1.8rem;
  color: #8a8181;
  margin-bottom: 16px;
}
.our-clients__content h2 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.our-clients__content p {
  font-size: 1.6rem;
  color: #8a8181;
  line-height: 3rem;
}
.our-clients__wrap {
  margin-top: 50px;
  position: relative;
}
.our-clients__wrap:hover .our-clients__slider-button {
  opacity: 1;
}
.our-clients__slider {
  position: relative;
}
.our-clients__slider-item {
  position: relative;
  height: 210px;
  width: 210px;
  background-color: #ffffff;
  margin: 8px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  outline: none !important;
}
.our-clients__slider-item:hover span {
  height: 100%;
}
.our-clients__slider-item i {
  font-size: 8rem;
  color: #a5a5a5;
}
.our-clients__slider-item span {
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 0;
  transition: all 0.2s linear;
  background-color: #e62b4a;
}
.our-clients__slider-button {
  border: none;
  height: 40px;
  width: 40px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #848482;
  opacity: 0;
  transition: all 0.2s linear;
}
.our-clients__slider-button:hover {
  background-color: #e62b4a;
  color: #ffffff;
}
.our-clients__slider-button:focus {
  outline: none;
}
.our-clients__slider-next {
  position: absolute;
  top: 20%;
  right: 0;
  transform: translate(0%, -100%);
}
.our-clients__slider-prev {
  position: absolute;
  top: 20%;
  left: 0;
  transform: translate(0%, -100%);
}
.our-clients__slider .slick-dots {
  top: 55%;
}
.our-clients__slider .slick-dots li button {
  width: 10px !important;
  height: 12px !important;
  background-color: #000 !important;
  opacity: 0.2 !important;
  border-radius: 2px;
  transition: all 0.2s linear;
}
.our-clients__slider .slick-dots li.slick-active button {
  opacity: 1 !important;
  background-color: #000 !important;
}

/*# sourceMappingURL=style.css.map */
