.banner {
    height: 275px;
    background-color:$text-color-main;
    & .container{
        height: 100%;
        & .row{
            h2{
                font-size:4.8rem;
                font-weight: 400;
                color:#fff;
            }
            a{
                max-width: 229px !important;
                width: 229px;
                border-right: 4px solid #fff;
                &:hover{
                    background-color:white !important;
                    color: #000;;
                }
            }
            height: 100%;
            @include flex(flex, space-between, center, wrap);
        }
    }
}