*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:not(i) {
  font-family: 'Oswald', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  overflow-x: hidden;
}
a{margin: 0 !important;}
a:hover{
    text-decoration: none;
    color: currentColor;
}
a:focus{
  outline:none;
}
button{
  &:focus{
    outline:none;
  }
}
